<?xml version="1.0" encoding="UTF-8"?>
<robot name="sink">

  <link name="ar_marker_0"/>
  <link name="fconn"/>
  <link name="fconn_"/>
  <link name="fconnp"/>

  <joint name="to_female" type="fixed">
    <parent link="ar_marker_0"/>
    <child link="fconn"/>
    <origin xyz="0 -120e-3 150e-3" rpy="3.14 1.57 -1.57"/>
  </joint>

  <joint name="approx" type="fixed">
    <parent link="fconn"/>
    <child link="fconn_"/>
    <origin xyz="-40e-3 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="press" type="fixed">
    <parent link="fconn"/>
    <child link="fconnp"/>
    <origin xyz="60e-3 0 5e-3" rpy="0 -1.1 0"/>
  </joint>

</robot>
