<launch>

  <!-- Driver interface to the dynamixel motors -->
  <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen">
    <rosparam file="$(find vspgrid)/config/dynnet.yaml" command="load" />
  </node>

  <!-- or Simulate robot interface -->
  <!--  <node pkg="vspgrid" type="robot_sim.py" name="simulator" /> -->

  <!-- Visualize robot on RVIZ -->
  <param name="robot_description" textfile="$(find vspgrid)/urdf/widowx2.urdf"/>
  <param name="use_gui" value="true"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <group ns="sink">
    <param name="robot_description" textfile="$(find vspgrid)/urdf/sink.urdf"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
      <param name="publish_frequency" value="50"/>
    </node>
  </group>

</launch>
