<launch>

	<!-- Start controller. Brain -->
	<!--node pkg="visual_servoing_powergrid" type="visser.py" name="main" /-->

	<!-- Start vision system. Eyes -->
	<include file="$(find vspgrid)/launch/init_vision.launch" />

	<!-- Start manipulator interface. Hands -->
	<include file="$(find vspgrid)/launch/init_manip.launch" />

</launch>